<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281425412658-1si1p6v8apjt862gb62sdrt54t6saasn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281425412658-1si1p6v8apjt862gb62sdrt54t6saasn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281425412658-1g14qanfn0jjtmdfufh578knjq8ccg6u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCW-I-CMhg0paE_EqSC7osLWzeRjsW-j-A</string>
	<key>GCM_SENDER_ID</key>
	<string>281425412658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cs530</string>
	<key>PROJECT_ID</key>
	<string>cs530-beclawski</string>
	<key>STORAGE_BUCKET</key>
	<string>cs530-beclawski.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281425412658:ios:9c79f2391cdee4301b322b</string>
	<key>DATABASE_URL</key>
	<string>https://cs530-beclawski-default-rtdb.firebaseio.com</string>
</dict>
</plist>